function FindProxyForURL(url, host) {
    var proxy = "PROXY <your-proxy>.<your-local-domain>:<your-proxy-port>; DIRECT";
    var direct = "DIRECT";

    // no proxy for local hosts without domain:
    if(isPlainHostName(host)) return direct;

    //We only proxy http
     if (
         url.substring(0, 4) == "ftp:" ||
         url.substring(0, 6) == "rsync:"
        )
    return direct;

    if (isInNet(host, "10.0.0.0", "255.0.0.0") ||
        isInNet(host, "127.0.0.0", "255.0.0.0") ||
        isInNet(host, "169.254.0.0", "255.255.0.0") ||
        isInNet(host, "192.168.0.0", "255.255.0.0")
    ) { return direct; }

    if (dnsDomainIs(host, "<your-local-domain-to-access-without-proxy>"))
	{ return direct; }

    if (dnsDomainIs(host, "<what-you-want-to-access-without-proxy>"))
	{ return direct; }

    // proxy everything else:
    return proxy;
}
